html{
  background-color: white;
}

body{
  background-color: antiquewhite;
}

header{
  text-align: center;
  color: darkblue;
  font-size: 2em;
}

header > p{
  text-align: center;
  color: darkblue;
  font-size: 0.7em;
}

figure{
  display: flexbox;
  align-items: center;
  margin: auto;
  max-width: 95vw;
  text-align: center;
  background-color: white;
}

img{
  max-width: 50vw;
  max-height: 80vh;
  margin: 0 auto;
}

#img-caption{
  margin: 15px 0 5px 0;
}
.maddeler{
  display: flexbox;
  align-items: center;
  margin: 2% 37% 0 43%;
}

footer{
  margin: 0 37% 0 43%;
  color: blue;
}